
@{
    ViewBag.Title = "Index";
}

<h2>Profiles</h2>

<h3>Placeholder for profile index page</h3>
<p>will eventually include links to:</p>
<ul>
    <li>My Profile -- show user profile for current user</li>
    <li>View Profiles -- show list of users</li>
    <li>etc...</li>
</ul>
